html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header{
  height: 100vh;
  padding: 0 10px;
  display: grid;
  align-items: center;
  justify-items: center;
}

img{
  max-width: 100%;
}

iframe{
  width: 700px;
  height: 500px;
}

h1{
  letter-spacing: 2px;
}

nav{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  text-align: end;
  display: grid;
  align-items: center;
  background-color: white;
}

.scrolled{
  display: none;
}

a{
  text-decoration: none;
  color: black;
}

nav a{
  margin-right: 15px;
  font-size: 20px;
  padding: 16px;
  transition: all 0.2s;
}

#apresentacao_basica{
  background-color: white;
  padding: 30px;
  margin-top: 60px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
}

#foto{
  width: 30vw;
  border-radius: 10%;
}

nav a:hover{
  color: rgb(197, 197, 197);
}

#projects{
  padding: 100px 5px;
}

#projects a{
  color: black;
  padding: 30px;
  padding-top: 50px;
}

#projects ul{
  text-align: center;
}

#projects li{
  list-style-type: none;
}

#detalhes{
  padding: 0px 10vw;
  font-size: 20 px;
}

.project-link{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

#engine-img{
  width: 50vw;
}

#mapa-img, #grafico-img{
  width: 40vw;
}

.project-link span{
  margin-left: 8px;
  font-size: 20px;
}

#contato{
  font-size: 18px;
}

#contato a{
  margin-left: 20px;
}

#contato img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

@media (max-width: 650px){
  body{
    font-size: 13px;
  }

  ul{
    margin-left: -60px;
  }

  iframe{
    width: 400px;
    height: 300px;
  }

  #projects{
    padding: 1px;
  }

  .project-link span{
    font-size: 16px;
  }

  #contato{
    font-size: 14px;
  }

  #projects{
    padding-left: 25px;
    padding-top: 50px;
  }

  #apresentacao_basica{
    padding: 15px;
  }

  #foto{
    width: 35vw;
    border-radius: 10%;
  }

  #detalhes{
    padding: 0px 5vw;
  }
}

@media (max-width: 500px){
  #engine-img, #mapa-img, #grafico-img{
    width: 90vw;
  }

  .project-link{
    display: block;
  }

  ul{
    margin-left: -30px;
  }

  iframe{
    width: 90vw;
    height: 400px;
  }

  nav a{
    font-size: 14px;
    padding: 22px 14px;
    margin-right: 8px;
  }

  #projects{
    padding: 50px 0px 10px;
  }

  #apresentacao_basica{
    padding: 5px;
  }

  #foto{
    width: 45vw;
    border-radius: 10%;
  }

  #detalhes{
    padding: 0px 2vw;
  }
}