@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c';
  font-size: 16px;
  color: white;
  background-color: rgb(25, 25, 41);
}

header{
  height: 100vh;
  background-color: rgb(27, 101, 150);
  background-image: url('Foto_frontal.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}